include mixins
doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = [locals.name, locals.description, locals.url].join(' - ')
      //link(rel='alternate', href='http://feeds.feedburner.com/slowtheory', type='application/rss+xml', title=locals.description)
      //link(rel='stylesheet', href='styles/default.css')
      //link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dosis:300,400')
      //link(rel='stylesheet', href='//brick.a.ssl.fastly.net/Open+Sans:300,400,700/Roboto+Slab:400')
      //link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/assets/media/apple-touch-icon-144-precomposed.png')
      //link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/assets/media/apple-touch-icon-114-precomposed.png')
      //link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/assets/media/apple-touch-icon-72-precomposed.png')
      //link(rel='apple-touch-icon-precomposed', href='/assets/media/apple-touch-icon-57-precomposed.png')
      // build:[href] styles/main.min.css 
      link(rel='stylesheet', href='styles/main.css', type='text/css', media='screen, projection, print')
      // /build 
      link(rel='shortcut icon', href='/assets/media/favicon.ico')
      style.
        body {
          letter-spacing: 0.065em;
        }
        #blog figure img {
          width: auto;
        }

      // build:[src] js/compiled.js
      script(src='js/bundled.js')
      // /build 
  body
    +Splash()
    +SiteMenu('menu', [])
    
    //- Modal window for posts
    //.modal.fade.content
      .modal-dialog
        .modal-content

    main.container
      .row
        +About()
      section.content.row
        .col-xs-12
          .row
            each article, idx in articles
              +PostThumb(article)
          .row
            +Paginator(prevPage, nextPage)


          //.right.col-md-3
            //- Recent blog posts
            .widget
              h3 Recent Posts
              ul.recent-posts
                //each article in contents.preview.articles
                  li
                    a(href='#id='+encodeURIComponent(article.url))
                      i.fa.fa-sign-out
                      = article.title
                    small= moment.utc(article.date).format('DD MMM YYYY')

            //- Recent trovebox photos
            .widget
              h3 Recent Photos
              //each photo in tb.result
                a.popup-image.thumb(href=photo.path1024x1024)
                  - photo.description = (photo.description === null) ? photo.path1024x1024:photo.description
                  img(src=photo.path200x200xCR, alt=photo.description)
            .clearfix


      //- Modal window for contact form
      //.modal.fade.contact-modal
        .modal-dialog.modal-sm
          .modal-content
            form.form-horizontal
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h2 Contact me
              .modal-body
                fieldset
                  .control-group
                    label.control-label(for='contact_name') Name
                    .controls
                      input#contact_name.input-xlarge(name='contact_name', type='text', placeholder='Enter Name', required)
                  .control-group
                    label.control-label(for='contact_email') Email
                    .controls
                      input#contact_email.input-xlarge(name='contact_email', type='email', placeholder='Enter Email', required)
                  .control-group
                    label.control-label(for='contact_message') Message
                    .controls
                      textarea#contact_message(name='contact_message', placeholder='Enter Message', required)
                .modal-footer
                  .control-group
                    label.control-label(for='submit')
                    .controls
                      button#submit.btn.btn-default(name='submit') Send

    //- Footer
    footer.container
      a.fa.fa-arrow-up.toTop(href='#')
      .row
        .col-xs-12.col-sm-6.col-sm-push-6.text-center
          +SocialLinks()
        .col-xs-12.col-sm-6.col-sm-pull-6.text-center
          +Copyright()

    //- Load javascript
    script(src='js/default.js')
